#main{
	text-align:center;
	align-items:center;
    width:600px;
    margin:0 auto;
}
#field{
	width:320px;
	height:320px;
	border:1px solid black;
	box-sizing:content-box;
}
.cell{
	width:40px;
	height:40px;
	float:left;
}
.cell-black{
	background-color:black;
}
.active{
	background-image: url("iconhorse.png");
	background-color: orange;
	background-size: contain;
}
.green{
	background-color: green;
}
